html,body{
	height: 100%;
    width: 100%;
}

.header{
    height: 10%;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outline {
    display: flex;
    height: 90%;
}

.tool_bar {
    width: 10%;
    background-color: yellow;
    display: flex;
    flex-direction: column;
}

.tool_bar button {
    width: fit-content;
    margin-bottom: 10px;
}

.display_area {
    width: 90%;
}

#active_canvas{
    position: absolute;
    z-index: 100;
}

#cluster_canvas{
    position: absolute;
    z-index: 50;
}

#image_canvas{
    position: absolute;
    z-index: 0;
}
